<h1>Crear un nuevo Rol</h1>
<span><%= link_to "Ver listado de roles", roles_path %></span>

<%= form_with(model: @rol) do |formulario| %>
    <%= formulario.label        :rol %>
    <%= formulario.text_field   :rol %>
    <% if @rol.errors[:rol].any? %>
    <div>
        <%= @rol.errors[:rol].first %>
    </div>
    <% end %>    
    <button>Cancelar</button> <!-- link_to -->
    <%= formulario.submit "Registrar" %>
<% end %>
