<h4 class="mb-3">Crear una ciudad</h2>
<%= form_with(model: @ciudad) do |formulario| %>    
    <%= formulario.label :nombre, class: "form-label" %>
    <%= formulario.text_field :nombre, class: "form-control" %>
    <% if @ciudad.errors[:nombre].any? %>
        <div>
            <%= @ciudad.errors[:nombre].first %>
        </div>
    <% end %>
    <%= link_to 'Cancelar', ciudades_path, class: "btn btn-secondary" %>
    <%= formulario.submit 'Registrar', class: "btn btn-primary" %>
<% end %>

