<div class="row justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <div class="card-title">
                <h3>Perfil de <%= @usuario_actual.nombre  %></h3>
            </div>

            <%= form_with(model: @usuario_actual) do |formulario| %>

                <div class="mb-3">
                    <%= formulario.label        :nombre, class: 'form-label' %>
                    <%= @usuario_actual.nombre %>
                    <%= formulario.text_field   :nombre, class: 'form-control' %>
                    <% if @usuario_actual.errors[:nombre].any? %>
                        <div class="alert alert-danger">
                            <%= @usuario_actual.errors[:nombre].first %>
                        </div>
                    <% end %>
                </div>

                <div class="mb-3">
                    <%= formulario.label        :identificacion, class: 'form-label' %>
                    <%= formulario.text_field   :identificacion, class: 'form-control' %>
                    <% if @usuario_actual.errors[:identificacion].any? %>
                        <div class="alert alert-danger"
                            <%= @usuario_actual.errors[:identificacion].first %>
                        </div>
                    <% end %>
                </div>

                <div class="mb-3">
                    <%= formulario.label        :telefono, class: 'form-label' %>
                    <%= formulario.text_field   :telefono, class: 'form-control' %>
                    <% if @usuario_actual.errors[:telefono].any? %>
                        <div class="alert alert-danger">
                            <%= @usuario_actual.errors[:telefono].first %>
                        </div>
                    <% end %>
                </div>

                <div class="mb-3">
                    <%= formulario.label            :password, class: 'form-label' %>
                    <%= formulario.password_field   :password, class: 'form-control' %>
                    <% if @usuario_actual.errors[:password].any? %>
                        <div class="alert alert-danger">
                            <%= @usuario_actual.errors[:password].first %>
                        </div>
                    <% end %>
                </div>

                <div class="mb-3">
                    <%= formulario.label            :password_confirmation, class: 'form-label' %>
                    <%= formulario.password_field   :password_confirmation, class: 'form-control' %>
                    <% if @usuario_actual.errors[:password_confirmation].any? %>
                        <div class="alert alert-danger">
                            <%= @usuario_actual.errors[:password_confirmation].first %>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3 text-end">
                    <%= formulario.submit "><", class: 'btn btn-primary text-white' %>
                </div>
            <% end %>
        </div>
    </div>
</div>