<nav class="menu-vertical col-leg-2">
    <div class="container">
            <h4 class="titulo "><strong>HOTELES</strong></h2>
    </div>
    <div class="container">
        <ul>
            <li class="separador mb-3 mt-3"><strong>Hoteles</li></strong>
            <li>
                <%= link_to hoteles_path, class:" opcion" do %>
                <i class="bi bi-card-checklist"></i>  Listar
                <% end %></li>
            <li >
                <%= link_to nuevo_hotel_path, class:" opcion" do %>
                <i class="bi bi-plus-circle"></i>  Crear
                <% end %></li>
            <li class="separador mb-3 mt-3"><strong>Habitaciones</strong></li>
            <li >
                <%= link_to  habitaciones_path, class:"opcion" do %>
                <i class="bi bi-card-checklist"></i>  Listar
                <% end %></li>
            <li>
                <%= link_to nueva_habitacion_path, class:"opcion" do %>
                <i class="bi bi-plus-circle"></i>  Crear
                <% end %></li>
            <li class="separador mb-3 mt-3"><strong>Ciudades</li></strong>
            <li>
                <%= link_to  ciudades_path, class:" opcion" do %>
                <i class="bi bi-card-checklist"></i>  Listar
                <% end %></li>
            <li >
                <%= link_to nueva_ciudad_path, class:" opcion" do %>
                <i class="bi bi-plus-circle"></i>  Crear
                <% end %></li>
            <li class="separador mb-3 mt-3"><strong>Roles</li></strong>
            <li>
                <%= link_to  roles_path, class:" opcion" do %>
                <i class="bi bi-card-checklist"></i>  Listar
                <% end %></li>
            <li >
                <%= link_to nuevo_rol_path, class:" opcion" do %>
                <i class="bi bi-plus-circle"></i>  Crear
                <% end %></li>
        </ul>
    </div>
</nav>